:root {
    --white: #e6e6e6;
    --black: #151515;
    --blue: #0000ff;
}

* {
    box-sizing: border-box;
    /* border: 1px solid var(--black); */
}

body {
    margin: 0;
    padding: 0;
    background: 0% 0% / 100px 100px repeat radial-gradient(farthest-side at 100% 0%, #4a55f200 0% 20%, #fc59ecff 20% 40%, #4a55f200 40% 60%, #fc59ecff 60% 80%, #4a55f200 80% 100%, #5c59fc00 100%), 0% 0% / 100px 100px repeat radial-gradient(farthest-side at 0% 100%, #4a55f200 0% 20%, #fc59ecff 20% 40%, #4a55f200 40% 60%, #fc59ecff 60% 80%, #4a55f200 80% 100%, #5c59fc00 100%), linear-gradient(to top, #add8e6ff 0%, #add8e6ff 100%);
    background-blend-mode: soft-light;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--blue);
    z-index: 1000;
    padding: 5px 50px;
}

/* class fa-bars */
.navbar .fa-bars {
    color: var(--white);
}

.navbar .fa-house-chimney {
    color: var(--white);
}

/* class nav-link */
.navbar .nav-link {
    color: var(--white);
    font-size: 1rem;
    margin-left: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

/* class active */
.navbar .nav-link.active {
    font-weight: bold;
    color: var(--white);
}

/* class fa-instagram, fa-linkedin-in */
.navbar .fa-instagram,
.navbar .fa-linkedin-in {
    margin-right: 10px;
    font-size: 1.3rem;
}

/* class nav-link:focus */
.navbar .nav-link:focus {
    color: var(--white);
}

/* class btn */
.navbar .btn {
    border-radius: 50px;
    margin-left: 10px;
    width: 100px;
    box-shadow: 5px 5px 10px var(--black);
    border: none;
    transition: all 0.3s ease;
}

.navbar .btn:hover {
    background-color: var(--black);
    color: var(--white);
    transform: scale(1.1);
    border: none;
}


/* halaman product */
#product {
    width: 100%;
    height: 95dvh;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 70px;
}

#product #back {
    width: 100px;
    height: 40px;
    position: absolute;
    top: 2%;
    left: 10%;
    z-index: 5;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--black);
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s ease;
}

#product #back:hover {
    transform: scale(1.1);
    border: none;
    box-shadow: none;
}

#product .container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--black);
}

#product .container .image {
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#product .container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

#product .container .image:hover img {
    transform: scale(1.1);
}

#product .container .image .fa-circle-left,
#product .container .image .fa-circle-right {
    font-size: 2rem;
}

#product .container .desc {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}

#product .container .desc h2 {
    font-size: 1.5rem;
    font-family: pacifico;
    cursor: default;
}

#product .container .desc p {
    font-size: 1rem;
    cursor: default;
}

#product .container .desc .fa-heart {
    font-size: 2rem;
    position: relative;
    top: 0;
    left: 1%;
    background-color: grey;
    border-radius: 50%;
    padding: 5px;
}

#product .container .desc .price {
    font-size: 1.2rem;
    cursor: default;
}

#product .container .desc .aksi {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
    margin: 0;
    cursor: default;
}

#product .container .desc .aksi button {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 5px 5px 10px var(--black);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #add8e6;
}

#product .container .desc .aksi button:hover {
    transform: scale(1.1);
    box-shadow: none;
}

#product .container .desc .aksi .fa-cart-shopping {
    animation: bounce 1s infinite;
}

@keyframes bounce {

    0%,
    35%,
    70%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

#product .container .desc .aksi .fa-money-bill {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

@media screen and (max-width: 767px) {
    #product .container {
        width: 90%;
        height: 90%;
        position: relative;
        top: 0;
    }

    #product .container .image {
        width: 90%;
        height: 30vh;
        position: relative;
        top: 5%;
    }

    #product .container .desc {
        width: 90%;
        height: 30vh;
        position: relative;
        top: -5%;
        margin: 0;
    }

    #product .container .desc h2 {
        font-size: 1.5rem;
        margin-bottom: 5px;
        align-self: center;
    }

    #product .container .desc p,
    #product .container .desc .price {
        margin: 0;
    }

    #product .container .desc .price {
        font-weight: bold;
    }

    #product #back {
        position: absolute;
        top: 3%;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    
    #product .container {
        width: 90%;
        height: 90%;
        position: relative;
        top: 0;
    }

    #product #back {
        position: absolute;
        top: 2%;
        left: 7%;
    }
}