:root {
    --white: #e6e6e6;
    --black: #151515;
    --blue: #0000ff;
}

* {
    box-sizing: border-box;
    /* border: 1px solid var(--black); */
}

body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--blue);
    z-index: 1000;
    padding: 5px 50px;
}

.navbar .fa-house-chimney {
    color: var(--white);
}

/* class nav-link */
.navbar .nav-link {
    color: var(--white);
    font-size: 1rem;
    margin-left: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

/* class active */
.navbar .nav-link.active {
    font-weight: bold;
    color: var(--white);
    
}

/* class btn */
.navbar .btn {
    border-radius: 50px;
    margin-left: 10px;
    width: 100px;
    box-shadow: 5px 5px 10px var(--black);
    border: none;
    transition: all 0.3s ease;
}

.navbar .btn:hover {
    background-color: var(--black);
    color: var(--white);
    transform: scale(1.1);
    border: none;
}


/* halaman header */
header {
    width: 100%;
    height: 95vh;
    background: url('gambar/property.jpg') no-repeat center center/cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* class text */
header .text {
    position: relative;
    top: 25%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* tag h1 */
header .text h1 {
    font-size: 2rem;
    font-family: pacifico;
    color: var(--white);
    cursor: default;
}

/* class container */
header .container {
    min-width: 80%;
    min-height: 18vh;
    position: relative;
    top: 30%;
}

/* class menu */
header .container .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: lightblue;
    border-radius: 50px;
    padding: 10px 0;
}
/* class form-control */
header .container .menu .form-control {
    box-shadow: inset 3px 3px 5px var(--black);
}

header .container .menu .tipe .input-group {
    border-radius: 5px;
    box-shadow: 5px 5px 10px var(--black);
}

/* child dari class menu */
header .container .menu .lokasi,
header .container .menu .harga,
header .container .menu .tipe,
header .container .menu .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--black);
    margin: 0;
}

/* class tipe */
header .container .menu .tipe {
    margin-bottom: 10px;
}

/* tag h2 */
header .container .menu .lokasi h2,
header .container .menu .harga h2,
header .container .menu .tipe h2,
header .container .menu .btn h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: default;
}

/* tag p */
header .container .menu .lokasi p,
header .container .menu .harga p,
header .container .menu .tipe p,
header .container .menu .btn p {
    font-size: 1rem;
    margin: 0;
}

/* tag button */
header .container .menu button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 5px 5px 10px var(--black);
    border: none;
    transition: all 0.3s ease;
}

header .container .menu button:hover {
    background-color: var(--black);
    color: var(--white);
    transform: scale(1.1);
    border: none;
}

/* class fa-search */
header .container .menu .btn .fa-search {
    font-size: 2rem;
    color: var(--white);
    margin: 0;
}


/* halaman house */
section {
    margin: 0;
    padding: 0;
}

#house {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 92vh;
    display: none;
}

/* class active */
#house.active {
    display: block;
}

/* class text */
#house .text {
    position: relative;
    top: 10%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* tag h2 */
#house .text h2 {
    font-size: 2rem;
    font-family: pacifico;
    cursor: default;
    color: var(--black);
}

/* class container */
#house .container {
    width: 90%;
    height: auto;
    position: relative;
    top: 15%;
}

/* class slide */
#house .container .slide {
    display: flex;
    overflow-x: scroll;
    position: relative;
    top: 20%;
}

/* class card */
#house .container .slide .card {
    width: 300px;
    height: auto;
    margin: 5px 10px;
    border: none;
    /* element tidak akan tumbuh meskipun ada ruang */
    flex-grow: 0;
    /* element tidak akan menyusut meskipun ada ruang */
    flex-shrink: 0;
    /* element tumbuh dengan ukuran sesuai widht dan height */
}

/* class card-body */
#house .container .slide .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* tag h5 */
#house .container .slide .card .card-body h5 {
    font-size: 1.2rem;
    color: var(--black);
}

/* tag p */
#house .container .slide .card .card-body p {
    font-size: 1rem;
    text-align: center;
    color: var(--black);
    margin: 0;
}

/* class btn */
#house .container .slide .card .card-body .btn {
    border: none;
    background-color: lightblue;
    color: var(--black);
    width: 100px;
    position: relative;
    top: 5%;
    transition: all 0.3s ease;
}

#house .container .slide .card .card-body .btn:hover {
    background-color: var(--black);
    color: var(--white);
    transform: scale(1.1);
}


/* halaman benefit */
#benefit {
    width: 100%;
    height: 92vh;
    position: relative;
    top: 0;
    left: 0;
}

/* class container */
#benefit .container {
    width: 90%;
    height: auto;
    position: relative;
    top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* class image */
#benefit .container .image {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* tag img */
#benefit .container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#benefit .container .image:hover img {
    transform: scale(1.1);
    filter: brightness(0.7);
}

/* class box */
#benefit .container .image .box {
    position: absolute;
    top: 80%;
    left: 3%;
    width: 280px;
    height: auto;
    background-color: var(--white);
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.3s ease;
}

#benefit .container .image img:hover +.box {
    transform: scale(1.1);
    opacity: 1;
    transform: translateY(0);
}

/* tag h4 */
#benefit .container .image .box h4 {
    font-size: 1.2rem;
    color: var(--black);
    margin: 0;
    cursor: default;
}

/* class ranting */
#benefit .container .image .box .ranting {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    column-gap: 5px;
    cursor: default;
}

/* tag i star */
#benefit .container .image .box .ranting i {
    font-size: 1rem;
    text-decoration: none;
    color: gold;
    margin: 0;
}

/* tag p */
#benefit .container .image .box .ranting p {
    font-size: 0.9rem;
    color: var(--black);
    margin: 0;
}

/* class desc */
#benefit .container .desc {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* tag h2 */
#benefit .container .desc h2 {
    font-size: 2rem;
    font-family: pacifico;
    cursor: default;
    color: var(--black);
}

/* tag span */
#benefit .container .desc h2 span {
    font-size: 1rem;
}

#benefit .container .desc h2 span p {
    font-size: 2rem;
    position: relative;
    top: 5px;
}

/* class text */
#benefit .container .desc .text {
    position: relative;
    top: 10px;
    cursor: default;
}

/* tag p */
#benefit .container .desc .text p {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    background-color: var(--white);
    color: var(--black);
    margin: 10px 0;
    padding-left: 10px;
}


/* halaman testimoni */
#testimoni {
    width: 100%;
    height: 92vh;
    position: relative;
    top: 0;
    left: 0;
}

/* class container */
#testimoni .container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 10%;
}

/* tag h2 */
#testimoni .container h2 {
    font-family: pacifico;
    font-size: 1.8rem;
}

/* tag img */
#testimoni .container img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
}

#testimoni .container img:nth-child(3) {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 70px;
    height: 70px;
}

#testimoni .container img:nth-child(4) {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 70px;
    height: 70px;
}

#testimoni .container img:nth-child(5) {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 70px;
    height: 70px;
}

/* tag p */
#testimoni .container p {
    max-width: 500px;
    text-align: center;
    cursor: default;
    margin: 0;
}

/* tag h5 */
#testimoni .container h5 {
    margin: 0;
    font-size: 1.2rem;
    cursor: default;
}

/* tag span */
#testimoni .container span {
    font-size: 1rem;
    cursor: default;
    margin: 0;
    position: relative;
    top: -10px;
}


/* halaman footer */
footer {
    position: relative;
    top: 0;
    width: 100%;
    min-height: 10vh;
    background-color: var(--background);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* class cipta */
footer .cipta {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    margin: 0;
}

/* tag h5 */
footer .cipta h5 {
    margin: 0;
    font-size: 1rem;
    color: var(--black);
    cursor: default;
}

/* tag img */
footer .cipta img {
    position: relative;
    top: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    object-fit: cover;
    border-radius: 50px;
}

/* class contact */
footer .contact {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: var(--black);
}

/* tag h2 */
footer .contact h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    cursor: default;
}

/* tag span */
footer .contact span {
    margin: 0;
    font-size: 0.8rem;
    cursor: default;
}

/* tag i */
footer .contact i {
    font-size: 1.2rem;
    margin-right: 3px;
}

/* class sosial */
footer .sosial {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: var(--black);
}

/* tag h2 */
footer .sosial h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    cursor: default;
}

/* tag span */
footer .sosial span {
    margin: 0;
    font-size: 0.8rem;
    cursor: default;
}

/* tag i */
footer .sosial i {
    font-size: 1.2rem;
    margin-right: 3px;
}


@media screen and (max-width: 768px) {

    .navbar .fa-bars {
        color: var(--white);
    }

    header .container .menu {
        border-radius: 10px;
    }
    
    header .container .menu .lokasi,
    header .container .menu .harga,
    header .container .menu .tipe {
        font-size: 0.8rem;
        width: 160px;
    }

    header .container .menu .harga {
        width: 200px;
    }

    header .container .menu .lokasi h2,
    header .container .menu .harga h2,
    header .container .menu .tipe h2 {
        font-size: 0.9rem;
    }

    #house .text h2 {
        font-size: 1.3rem;
    }

    #house,
    #testimoni {
        height: 70vh;
    }

    #benefit .container .desc {
        width: 90%;
        height: 30vh;
        position: relative;
        top: 20px;
    }

    #benefit .container .desc h2 {
        font-size: 1.2rem;
        text-align: center;
    }

    #benefit .container .desc h2 span {
        font-size: 1rem;
    }

    #benefit .container .desc .text p {
        font-size: 0.8rem;
        margin-bottom: 5px;
        height: 5vh;
        border-radius: 10px;
    }

    #testimoni .container {
        height: 70%;
    }

    #testimoni .container h2 {
        font-size: 1.5rem;
    }

    #testimoni .container img:nth-child(3) {
        position: absolute;
        top: 20%;
        left: 5%;
        width: 60px;
        height: 60px;
    }

    #testimoni .container img:nth-child(4) {
        position: absolute;
        top: 70%;
        left: 10%;
        width: 60px;
        height: 60px;
    }

    #testimoni .container img:nth-child(5) {
        position: absolute;
        top: 30%;
        right: 10%;
        width: 60px;
        height: 60px;
    }

    #testimoni .container p {
        font-size: 0.8rem;
        line-height: 20px;
    }

    #testimoni .container h5 {
        font-size: 1rem;
    }

    #testimoni .container span {
        font-size: 0.8rem;
        position: relative;
        top: -10px;
    }

    footer {
        width: 100%;
        height: auto;
        margin: 0;
        display: flex;
        justify-content: space-around;
        column-gap: 5px;
    }

    footer .cipta {
        width: 40%;
    }

    footer .cipta img {
        width: 45px;
        height: 45px;
    }

    footer .cipta h5 {
        font-size: 0.7rem;
    }

    footer .contact,
    footer .sosial {
        gap: 0;
        width: 35%;
    }

    footer span {
        font-size: 0.8rem;
    }
}
